html, body {
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comic Sans MS';
}

section {
  padding-top: 20px;
}

#intro {
  padding:0;
  background-color: #fff7e6;
  color: #5F450D;
}

@media only screen and (max-width: 550px) {
#intro .screenshot{
 display:none;
}
}

/* Code Styles */
pre {
white-space: pre-wrap;
white-space: -moz-pre-wrap;
white-space: -o-pre-wrap;
word-wrap: break-word;}

code {
font-family: Courier, 'New Courier', monospace;
font-size: 12px;}

#codeStyler {
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin: 1em 0;}

.computerGreen {
background-color: #000000;
color: green;}

#intro img[src^="images/doge-screenshot.png"]{
 width:100%;
 max-width:640px;
}

#intro h1 {
  margin-bottom: 10px;
}

#intro h5 {
  color: #C0963B;
}

#intro h6 {
  color: #856829;
  margin-bottom: 0px;
  font-size: 2.0rem;

}

#intro .other-dl a {
  color: #5F450D;
}

#intro .button {
  background-color: #fff;
}

#intro .button-primary {
  background-color: #33C3F0;
}

.social-container {
  position: relative;
  left: -50%;
}

.social {
  position: relative;
  left: 50%;
  padding-top: 50px;
  list-style-type: none;
}

.social li {
  margin-bottom: 5px;
}

#intro .container {
  width: 90%;
  max-width: 1200px;
}

.downloads {
  margin-top: 40px;
}

.downloads .button .fa {
  font-size: 18px;
}

#footer {
  background-color: #fff7e6;
  color: #5F450D;
}